*.o
*.a
bin/
tests/bstr_tests
tests/cache_tests
tests/config.sqlite
tests/config_tests
tests/connection_tests
tests/db_tests
tests/dict_tests
tests/dir_tests
tests/handler_parser_tests
tests/handler_tests
tests/hash_tests
tests/host_tests
tests/http11_tests
tests/httpclient_tests
tests/list_tests
tests/mime_tests
tests/pattern_tests
tests/proxy_tests
tests/register_tests
tests/request_tests
tests/response_tests
tests/routing_tests
tests/server_tests
tests/setting_tests
tests/state_tests
tests/superpoll_tests
tests/tst_tests
tests/unixy_tests
